* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;

  min-height: 100vh;

  
}

.container{

    width: 500px;
    margin: 25vh auto;
    padding: 20px;

    border: 1px solid black;
    border-radius: 20px;

}


header h1 {
  text-align: center;
  margin: 10px auto;
}

textarea {
  width: 450px;
  height: 250px;
  padding: 10px;

  border: 1px solid black;
  border-radius: 8px;

  display: block;
  margin: 20px auto 0;
}



.container div {
    display: flex;
    font-size: large;
    margin : 10px 5px 0;
    

    
}

.container div #count {
    font-weight: bold;
}

.container button {
    width: 450px;
    height: 50px;

    margin: 10px auto 10px;
    border: 1px solid black;
    border-radius: 10px;

    background-color: rgb(95, 95, 222);

    font-size: large;
    font-weight: bold;
    color: #fff;
}